<!DOCTYPE html>
{% extends 'layout.html' %}

{% block title %}
    О нас
{% endblock %}

{% block body %}
<div class="container">

    


    <h1>О Магазине</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga consequuntur, error 
        architecto beatae, reprehenderit voluptas in asperiores quia quis cupiditate nobis, 
        dolorum dolore nulla ut sed corporis recusandae accusamus! Nostrum?

        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores quasi recusandae sed 
        quidem, minima at accusamus labore enim. Rerum eveniet quo deserunt modi a? Exercitationem, 
        rem corrupti. Totam, dolores nostrum?
    </p>
</div>
{% endblock %}