<!DOCTYPE html>
{% extends 'layout.html' %}

{% block title %}
    Вход в аккаунт
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/RegLog.css') }}">
{% endblock %}

{% block body %}

<div class="container">
    <main class="form-signin w-100 m-auto RegLog" >


        <form method = "post">
          <h1 class="h3 mb-3 fw-normal">Зарегистрироваться</h1>
          
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul class = "flashes">
                  {% for message in messages %}
                      <li>{{ message }}</li>
                  {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}

          <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="Вашь Логин" name = "login">
            <label for="floatingInput">Логин:</label>
          </div><br>

          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Вашь пароль" name = "password" >
            <label for="floatingPassword">Пароль</label>
          </div><br>
          
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword2" placeholder="Повторите пароль" name = "password2" >
            <label for="floatingPassword">Повторите пароль</label>
          </div><br>

          <button class="btn btn-primary w-100 py-2" type="submit">Зарегистрироваться</button><br><br>
          <a href="/login" class = "btn btn-success w-100 py-2">Войти</a>
        </form>
    </main>
</div>

{% endblock %}